<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'inventory/style.css' %}" type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Indie Flower">
        <link rel="shortcut icon" type="image/png" href="{% static 'inventory/images/favicon.ico' %}"/>
        <title>DjangoDelights</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-img">
                <a href="{% url 'home' %}"><img src="{% static 'inventory/images/favicon-small.png' %}"/></a>
            </div>
            <a href="{% url 'home' %}" class=logo>DjangoDelights</a>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'ingredientlist' %}">Ingredients</a></li>
                <li><a href="{% url 'menuitemlist' %}">Menu Items</a></li>
                <li><a href="{% url 'orderlist' %}">Orders</a></li>
                <li><a href="{% url 'recipelist' %}">Recipes</a></li>
                <li><a href="{% url 'edituser' %}">Edit Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>