<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'inventory/style.css' %}" type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Indie Flower">
        <link rel="shortcut icon" type="image/png" href="{% static 'inventory/images/favicon.ico' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <title>MyRestaurant</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-ul">
                    <li class="nav-logo"><a href="{% url 'home' %}">MyRestaurant</a></li>
                    <li class="nav-li"><a href="{% url 'home' %}">Home</a></li>
                    <li class="nav-li"><a href="{% url 'ingredientlist' %}">Ingredients</a></li>
                    <li class="nav-li"><a href="{% url 'menuitemlist' %}">Menu Items</a></li>
                    <li class="nav-li"><a href="{% url 'orderlist' %}">Orders</a></li>
                    <li class="nav-li"><a href="{% url 'recipelist' %}">Recipes</a></li>
                    <li class="nav-li button"><a href="{% url 'edituser' %}">Edit Profile</a></li>
                    <li class="nav-li button second"><a href="{% url 'logout' %}">Logout</a></li>
                    <li class="nav-burger"><a href="#"><i class="fas fa-bars"></i></a></li>
                    <!-- <li class="nav-img">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'inventory/images/favicon-small.png' %}"/>
                        </a>
                    </li> -->
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script src="{% static 'inventory/navScripts.js' %}"></script> 
    </body>
</html>