{% extends 'inventory/base.html' %}

<!-- {% load static %} -->

{% block head %}
{% endblock %}

{% block content %}
    <h1>Welcome To DjangoDelights!</h1>
    <div>
        <a href="{% url 'ingredientlist' %}"><button class="btn">Ingredients</button></a>
        <a href="{% url 'menuitemlist' %}"><button class="btn">Menu Items</button></a>
        <a href="{% url 'orderlist' %}"><button class="btn">Orders</button></a>
        <a href="{% url 'recipelist' %}"><button class="btn">Recipes</button></a>
    </div>
{% endblock %}