{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container-flex">
        <div class="flex-col">
            <h2>Delete Ingredient: {{ ingredient.name }}</h2>
            <form method="POST" class="input-form">
                {% csrf_token %}
                <p>Are you sure you wish to delete this Ingredient?</p>
                <input class="input-btn" type="submit" value="Confirm"/>
            </form>
            <p><a href="{% url 'ingredientlist' %}"><button class="input-btn">Cancel</button></a></p>
        </div>
    </div>
{% endblock %}