{% extends 'inventory/base.html' %}

<!-- {% load static %} -->

{% block head %}
{% endblock %}

{% block content %}
    <h1>Ingredients List</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Cost Per Unit</th>
            <th>Quantity In Stock</th>
            <th>Units</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            {% for ingredient in data %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.cost }}</td>
                    <td>{{ ingredient.quantity }}</td>
                    <td>{{ ingredient.unit }}</td>
                    <td><a href="{% url 'ingredientupdate' ingredient.slug %}">Update</a></td>
                    <td>Delete</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'ingredientcreate' %}">Add New Ingredient</a></p>
    
{% endblock %}