{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container-flex">
    <div class="sign-up">
        <h2>Delete Menu Item: {{ menuitem.name }}</h2>
        <p>Are you sure you wish to delete this Menu Item?</p>
        <form method="POST" class="input-form">
            {% csrf_token %}
            <input class="input-btn" type="submit" value="Confirm"/>
        </form>
        <a href="{% url 'menuitemlist' %}">Cancel</a>
    </div>
</div>
{% endblock %}