{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="header">
        <h1>MenuItem List</h1>
    </div>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            {% for menuItem in menuItemData %}
                <tr>
                    <td>{{ menuItem.name }}</td>
                    <td>{{ menuItem.cost }}</td>
                    <td><a href="{% url 'menuitemupdate' menuItem.name %}">Update</a></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'menuitemcreate' %}"><button class='btn'>Add New Menu Item</button></a></p>
{% endblock %}