{% extends 'inventory/base.html' %}

<!-- {% load static %} -->

{% block head %}
{% endblock %}

{% block content %}
    <h1>MenuItem List</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            {% for menuItem in menuItemData %}
                <tr>
                    <td>{{ menuItem.name }}</td>
                    <td>{{ menuItem.cost }}</td>
                    <td><a href="{% url 'menuitemupdate' menuItem.name %}">Update</a></td>
                    <td>Delete</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'menuitemcreate' %}">Add New Menu Item</a></p>
{% endblock %}