{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="header">
        <h1>Order List</h1>
    </div>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Menu Item</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            {% for order in orderData %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.time }}</td>
                    <td>{{ order.getMenuItemsAmount }}</td>
                    <td><a href="{% url 'orderdetails' order.id %}">Details</a></td>
                    <td><a href="{% url 'orderdelete' order.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'ordercreate' %}"><button class='btn'>Add New Order</button></a></p>
    <table>
        <tr>
            <th>Daily</th>
            <th>Monthly</th>
            <th>Yearly</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{ todayTotal }}</td>
            <td>{{ monthTotal }}</td>
            <td>{{ yearTotal }}</td>
            <td>{{ total }}</td>     
        </tr>
    </table>
{% endblock %}