{% extends 'inventory/base.html' %}

<!-- {% load static %} -->

{% block head %}
{% endblock %}

{% block content %}
    <h1>Order List</h1>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Menu Item</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            {% for order in orderData %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.time }}</td>
                    <td>{{ order.item_id }}</td>
                    <td><a href="{% url 'orderupdate' order.id %}">Update</a></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'ordercreate' %}">Add New Order</a></p>
{% endblock %}