{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="header">
        <h1>Order List</h1>
    </div>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Menu Item</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            {% for order in orderData %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.time }}</td>
                    <td>{{ order.item_id }}</td>
                    <td><a href="{% url 'orderupdate' order.id %}">Update</a></td>
                    <td>Delete</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'ordercreate' %}"><button class='btn'>Add New Order</button></a></p>
{% endblock %}