{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="header">
        <h1>RecipeRequirement List</h1>
    </div>

    <form method='GET'>
        <div class="recipe-dropdown">
            {{ form.as_p }}
            <select name='menuItems' id='menuItems'>
                <option value="0">Choose a MenuItem</option>
                {% for item in menuItemData %}
                    <option value='{{ item.name }}'>{{ item.name }}</option>
                {% endfor %}
            </select>
            <input type='submit' value='Submit' class="input-btn">
        </div> 
    </form>

    <table class="recipe-table">
        <tr>
            <td>Ingredient</td>
            <td>Quantity</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            {% for item in recipeData %}
                <tr>
                    <td><p>{{ item.ingredient_id }}</p></td>
                    <td><p>{{ item.quantity }}</p></td>
                    <td><a href="{% url 'recipeupdate' item.id %}">Update</a></td>
                    <td><a>Delete</a></td>
                </tr>
            {% endfor %}
        </tr>
    </table>

    <div class="recipe-dropdown">
        <a href="{% url 'recipecreate' %}"><button class='btn'>New Recipe Requirement</button></a>
    </div>
{% endblock %}