{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container-flex">
        <div class="flex-col">
            <h2>Update Recipe for {{ reciperequirement.item }}</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn" type="submit" value="Save"/>
            </form>
            <p><a href="{% url 'recipelist' %}"><button class="btn">Cancel</button></a></p>
        </div>
    </div>
{% endblock %}