{% extends 'inventory/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container-flex">
        <div class="sign-up">
            <h1>RecipeRequirement List</h1>
            <form class='input-form' method='GET'>
                {{ form.as_p }}
                <select class="form-input" id='form-input' name='menuItems'>
                    <option value="0">Choose a MenuItem</option>
                    {% for item in menuItemData %}
                        <option value='{{ item.name }}'>{{ item.name }}</option>
                    {% endfor %}
                </select>
                <input type='submit' value='View' class="input-btn">
            </form>
            <a href="{% url 'recipecreate' %}">New Recipe Requirement</a>
        </div>

        <table class="recipe-table">
            <tr>
                <td>Ingredient</td>
                <td>Quantity</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                {% for item in recipeData %}
                    <tr>
                        <td><p>{{ item.ingredient_id }}</p></td>
                        <td><p>{{ item.quantity }}</p></td>
                        <td><a href="{% url 'recipeupdate' item.id %}">Update</a></td>
                        <td><a href="{% url 'recipedelete' item.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}