{% extends 'inventory/base.html' %}

{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block content %}
<div class="sign-up">
    <form action="{% url 'set_timezone' %}" method="POST">
        {% csrf_token %}
        <label for="timezone">Time Zone:</label>
        <select id="tz-select" name="timezone">
            {% for city, tz in timezones.items %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ city }}</option>
            {% endfor %}
        </select>
        <input class='input-btn' type="submit" value="Set">
    </form>
</div>
{% endblock %}
