{% extends 'inventory/base.html' %}

{% block content %}
    <div class="container-flex" id="login-form">
        <div class="sign-up">
            <h2>Sign Up</h2>
            <form class="input-form" method="POST" action="." id="sign-up">
                {% csrf_token %}
                <div class="input-group">
                    {{form.username}}
                </div>
                <div class="input-group">
                    {{form.email}}
                </div>
                <div class="input-group">
                    {{form.password1}}
                </div>
                <div class="input-group">
                    {{form.password2}}
                </div>
                <input class="input-btn" type="submit" value="Signup"/>
            </form>
        </div>
    </div>
{% endblock %}
